{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}{{ parent() }}
    <link rel='stylesheet' href='node_modules/fullcalendar/dist/fullcalendar.css' />
{% endblock %}
{% block navbar %}{{ parent() }}{% endblock %}

{% block body %}
    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="tamere.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script src="node_modules/fullcalendar/dist/fullcalendar.js"></script>
{% endblock %}